a{
    text-decoration: none !important;
}

.btn-body{
    height: 90px;
    width: 190px;
    border-radius: 5px;
    color: #F8D9C0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;
    transition: all 0.3s ease;
    background-color: rgba(244, 187, 146, 0);
}

.btn-body.active{
    background-color: rgba(244, 187, 146, 1);
    color: white;
    transform: scale(1.05);
}

.btn-body:hover{
    color:white
}

.btn-title{
    margin: 12px auto;
    font-weight: 600;
    font-size: 16px;
}